body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBB;
    padding: 10px 0;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 22px;
}


p {
    margin: 15px 0;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 8px;
    width: 75%;
}

.checkbox {
    margin: 20px 0;
}

footer {
    text-align: center;
    background: url("./../imagens/bg.jpg");
    padding: 20px;
}

footer p {
    color: white;
    font-size: 10px;
    margin: 20px;
}

.enviar-button {
    width: 40%;
    padding: 15px 0;
    background: orange;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s all;
}

.enviar-button:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 40px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 8px 15px;
    border: 1px solid #000000;
}